{% extends "../index_master.html" %}

{% block content %}

   <div class="right_col" rol = "main" >
 
   <h1>Agregar Usuario</h1>

  
    <div class="form-group row">
     
    </div> 
    <div class="form-group row">
      
    </div>
  </form>
  {% block contenido   %} 
               <div class="card">
                <div class="card-header">
        
                </div>
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    {% include "form.html" %}
                </div>
                <div class="card-footer text-muted">
                    Footer
                </div>
               </div>
               {% endblock %}
{% endblock  %}