
                </nav>
                 {% block contenido   %} 
               <div class="card">
                <div class="card-header">
                   Editar Venta
                </div>
                <div class="card-body">
                    <h4 class="card-title">editar</h4>
                    {% include "forn.html" %}
                </div>
                <div class="card-footer text-muted">
                    Footer
                </div>
               </div>
               {% endblock %}