{% extends 'index_master.html' %}

{% block content %}

    <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row" style="display: inline-block;" >
          <div class="tile_count">
           
           

  
               <div class="card">
                <div class="card-header">
        
                </div>
                <div class="card-body">
                    <h4 class="card-title"></h4>
                    {% include "form.html" %}
                </div>
                <div class="card-footer text-muted">
                    Footer
                </div>
               </div>
            

</html>{% endblock %}